.sign-up-container {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: 380px;
  
    h2 {
      margin: 10px 0;
    }
  }
=======
    width: 380px
}

h2 {
    margin: 10px 0;
}
>>>>>>> 6169970b58ebbce33cc51c51bba2e16095ecff84
